@media (max-width: 768px) {
    .navigation {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .navigation.active {
        display: flex;
        flex-direction: column;
    }

    .navigation ul {
        flex-direction: column;
    }

    .nav-link {
        margin: 10px 0;
    }

    .main-grid {
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .main-footer {
        flex-direction: column;
        align-items: flex-start;
    }
    

    .event, .current-weather, .forecast, .bus1 {
        grid-column: span 1;
    }

    .social {
        justify-content: flex-start;
        margin-top: 10px;
    }
    .image {
        width: 70px; 
    }
}

@media (max-width: 320px) {
    .main-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-content {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .header-content img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .navigation ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .dark-mode-btn {
        align-self: flex-end;
    }

    .main-grid {
        display: flex;
        flex-direction: column;
    }

    .main-footer {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .social {
        justify-content: flex-start;
        margin-top: 10px;
    }
    .image {
        width: 40px; 
    }
}
/* Responsive styles for better display on smaller screens */
@media (max-width: 600px) {
    .main-grid {
        grid-template-columns: 1fr; 
    }

    .toggle-buttons {
        flex-direction: column; 
    }
}
/* home pages css*/
 /* Media Query for Larger Screens */
 @media (min-width: 768px) {
    .container {
      grid-template-columns: 2fr 1fr; /* Two columns for larger screens */
      grid-template-areas:
        "hero hero"
        "current-events weather"
        "spotlights spotlights";
    }
  
    .hero {
      grid-area: hero;
    }
  
    .current-events {
      grid-area: current-events;
    }
  
    .weather {
      grid-area: weather;
    }
  
    .spotlights {
      grid-area: spotlights;
    }
  }
 
  @media (max-width: 768px) {
      .spotlight-card {
          flex: 1 1 100%; /* Full width on smaller screens */
          max-width: 100%; /* Ensure cards take full width */
          margin-right: 0; /* Remove margin between cards */
      }
  
      #spotlight-cards {
          flex-direction: column; /* Stack cards vertically */
          align-items: center; /* Center cards horizontally */
      }
  }